<!DOCTYPE html>
<html lang="vi">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{ SEO }}
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body class="{{.BodyClass | body_class}}">
{{ .LayoutContent }}
</body>
</html>