<input type="hidden" name="ID" value="{{.Post.Id}}">
<div class="post--Title">
    <input type="text" name="post_title" value="{{.Post.Title}}">
</div>
<div class="post--Content">
    <textarea name="post_content">{{.Post.Content}}</textarea>
</div>
<div class="post--Topic">
    <select name="post_topic">

    </select>
</div>