<html>
<head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
</head>
<body class="{{ .BodyClass | body_class }}">
<div class="navigation--Primary">
    {{ .Navigation }}
</div>

{{ if .BeforeContent }}
<div class="before--Content">
    {{.BeforeContent }}
</div>
{{ end}}

<form action="{{ .ActionUrl }}" method="{{.ActionMethod}}"{{if .ActionEnctype}} enctype="{{.ActionEnctype}}"{{end}}>
    <div class="content--Wrap">
        {{ .LayoutContent }}
    </div>
    {{ if .Sidebar }}
    <div class="sidebar--Primary">
        {{ .Sidebar }}
    </div>
    {{ end }}
</form>


</body>
</html>